<!DOCTYPE html><html><head><title>Moving on…</title><meta http-equiv="refresh" content="0; url=https://moritz.sh" /></head><body><p>Nothing to see here… redirecting to <a href="https://moritz.sh">moritz.sh</a></p></body></html>
