<!DOCTYPE html><html><head><title>{{ .Name }} | Hosted with recter</title><meta name="go-import" content="{{ ModuleHeader }}" /><meta http-equiv="refresh" content="0; url={{ .Repo }}" /></head><body><p>Nothing to see here… redirecting to <a href="{{ .Repo }}">{{ .Repo }}</a></p></body></html>
